Estilos Generales
/* ******************************************************* */

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background: #eee;
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* Estilos Header */
/* ******************************************************* */

header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 12%;
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
  background-color: white;
  /* margin-bottom: 5px; */
  /* position: fixed; */
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 0; */
}

.imgHeader {
  display: flex;
  flex-direction: row;
  width: 15%;
  height: 100%;
  background-color: #000;
}

header img {
  margin: 0 auto;
  /* height: 60%; */
  width: 70%;
}

/* Estilos Nav */
/* ******************************************************* */

nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  /* margin-top: 1px; */
  background-color: #000;
  color: #fff;
  /* border-top: 1px solid #fff; */
  /* border: 5px solid rgb(148, 129, 147); */
  /* border-radius: 5px; */
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 10px;
  /* padding: 10px 0px; */
  /* padding-left: 30px;
  padding-right: 30px; */
}

li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  border: 16px solid #000;
}

nav li a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border: 16px solid #fff;
  transition: filter 1s;
}

/* .borderNav {
  background-color: #383538;
  height: 5%;
  position: relative;
} */

/* Estilos Video */
/* ******************************************************* */

#sect1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid red; */
  /* background-color: #3333337d; */
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 55px;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.content {
  z-index: -1;
  height: min-content;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  position: absolute;
  color: #fff;
}

.content h1 {
  margin: 0;
  padding: 0;
  font-size: 70px;
}

.content h3 {
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.content p {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

/* Estilos Swiper (Cursos) */
/* ******************************************************* */

.container {
  z-index: -1;
  position: relative;
  padding: 10px;
  width: 90%;
  top: 90px;
  margin: 0px auto;
  /* border: 1px solid red; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnTodosCursos{
  position: relative;
  width: 100%;
  top: 110px;
  text-align: center;
  z-index: -1;
}

.btnTodosCursos a{
  text-decoration: none;
  color: #000;
  font-size: 18px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  transition: all 333ms ease-in-out;
  background-color: black;
  color: #fff;
}

.btnTodosCursos a:hover{
  color: black;
  background-color: rgb(194, 194, 190);
}

.swiper {
  height: 100%;
  padding: 4px;
}

/* .swipper {
  position: absolute;
} */

.container h1 {
  text-align: center;
  font-size: 48px;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.container .swiper-slide {
  /* height: max-content; */
  /* top: 50px; */
  /* position: relative; */
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 15px;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}

.swiper-wrapper {
  width: 10%;
  flex-wrap: nowrap;
}

.container .swiper-slide img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-description {
  background-color: #d8e3f5;
  font-size: medium;
  /* height: 160px; */
}

.container .swiper-slide .card-description {
  padding: 1rem 1rem;
  text-align: center;
  position: relative;
}

.container .swiper-slide .card-title,
.container .swiper-slide .card-text {
  margin-bottom: 0.5rem;
}

.container .swiper-slide .card-link {
  text-align: center;
}

.container .swiper-slide .card-link a {
  text-decoration: none;
  color: #1d6ce2;
}

.swiper-button-next {
  right: 26px !important;
}

.swiper-button-prev {
  left: 26px !important;
}

/* Cursos individuales */

.curso-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  /* width: 50%; */
  height: 50%;
  /* margin: 100px auto; */
  margin-bottom: 0;
  border: 1px solid #383538;
  border-radius: 15px;
  padding: 20px;
}

.curso-tab article {
  /* margin-top: 15px auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

.curso-tab article h1,
p {
  margin: 0;
  padding: 0;
}

.curso-tab article img {
  height: 200px;
  width: 100%;
  border: 1px solid #383538;
  border-radius: 15px;
  padding: 2px;
  background-color: #000;
}

/* .footer-curso {
  position: relative;
  bottom: 300;
} */

/* Estilos Galeria */
/* ******************************************************* */
.container-grid {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "img1 img2 img3 img3 img3"
    "img1 img2 img3 img3 img3"
    "img4 img4 img3 img3 img3"
    "img4 img4 img3 img3 img3"
    "img6 img6 img5 img5 img5"
    "img6 img6 img5 img5 img5";
  gap: 5px;
  z-index: -1;
  position: absolute;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img:hover {
  filter: grayscale(50%);
  cursor: pointer;
  transition: filter 0.7s;
}

.img-1 {
  grid-area: img1;
}

.img-2 {
  grid-area: img2;
}

.img-3 {
  grid-area: img3;
}

.img-4 {
  grid-area: img4;
}

.img-5 {
  grid-area: img5;
}

.img-6 {
  grid-area: img6;
}

.container-img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  transform: translateX(-100%);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in;
}

.move {
  transform: translateX(0);
}

.img-show {
  height: 80%;
  display: block;
  object-fit: cover;
  transform: scale(0);
  transition: transform 0.2s 0.4s;
}

.show {
  transform: scale(1);
}

.copy {
  /* position: fixed; */
  margin-left: 10px;
  color: #fff;
  bottom: 30px;
  font-size: 24px;
}

.gallery {
  position: relative;
  top: 130px;
  width: 100%;
}

.gallery h1 {
  text-align: center;
  font-size: 48px;
}

.bx.bx-x {
  position: fixed;
  color: #fff;
  top: 20px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .img-show {
    width: 90%;
  }

  .copy {
    bottom: 20px;
  }

  .bx.bx-x {
    top: 10px;
    font-size: 30px;
  }
}

/* Estilos sponsor*/
/* ******************************************************* */

.sponsor-section {
  position: relative;
  top: 900px;
}

.sponsor-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sponsor {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 150px;
  text-align: center;
}

.sponsorH1 {
  text-align: center;
  font-size: 48px;
}

.sponsor img {
  width: 130px;
  height: 130px;
}

/* Estilos Icono WhatsApp/
/* ******************************************************* */
.btn-wsp {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  width: 65px;
  height: 65px;
  line-height: 55px;
  bottom: 300px;
  right: 10px;
  background: #0df053;
  color: #fff;
  /* border: 1px solid #36b132; */
  border-radius: 50px;
  text-align: center;
  font-size: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* Estilos Footer/
/* ******************************************************* */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: 880px;
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin-top: 60px;
  height: 20%;
  width: 100%;
  gap: 10px;
}

.footer-logo{
  display: flex;
  width: 40%;
  /* height: 60%; */
}

.footer-logo img{
  width: 100%;
  height: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  color: #888383;
  justify-content: center;
  align-items: center;
  width: 33%;
  border-right: 1px solid gray;
}

.footer-info{
display: flex;
text-align: start;
justify-content: center;
width: 100%;
gap: 40px;
color: #787575;
}

.social-media-content{
  display: flex;
  flex-direction: column;
justify-content: start;
  width: 100%;
  margin-top: 5px;
  color: #787575;
  text-align: start;
  }

  .social-media-content p{
 padding-bottom: 5px;
    }

  .social-media{
    display: flex;
  justify-content: start;
    width: 100%;
    margin-top: 5px;
    color: #080808;
    }

.footer-info img{
  width: 35%;
  height: 100%;
}

.social-media{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.social-media img {
  width: 40px;
  height: 40px;
}

/* Estilos de Response*/
/* ******************************************************* */

/* @media only screen and (max-width: 480px) { */

@media (min-width: 320px) and (max-width: 480px) {
  /* Estilos y ajustes para dispositivos móviles pequeños */


  header img {
    margin: 0 auto;
    /* height: 60%; */
    width: min-content;
  }

  .sponsorH1{
    font-size: 24px;
  }

  #sect1{
    height: 28%;
  }

  .content h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
  }

  .content h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }

  .container {
    top: 70px;
    z-index: -1;
    position: relative;
    padding: 10px;
    width: 90%;
    /* top: 90px; */
    margin: 0px auto;
    /* border: 1px solid red; */
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

  .container h1 {
    font-size: 28px;
}

.btnTodosCursos {
  top: 70px;
}

.btnTodosCursos a {
  font-size: 14px;
}

.gallery {
  top: 70px;
}

.gallery h1 {
  font-size: 28px;
}

.sponsor-section {
  position: absolute;
  top: 1600px;
  z-index: -1;
}

footer {
  display: flex;
  flex-direction: column;
  top: 1800px;
  height: 20%;
  margin: 60px auto;
  text-align: center;
  width: 100%
}

.social-media-content, .footer-info{
  display: none;
}

.footer-content {
  border-right:none;
  height: 20%;
  width: auto;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img{
  width: 50%;
  height: 60px;
}

.footer-content .social-media {
  text-align: left;
  width: 100%;
}

.social-media{
  width: 30%;
}

}

@media (min-width: 481px) and (max-width: 768px) { 

  Estilos Generales html, body {
    height: 100%;
    width: 100%;
}

  .content h1 {
    margin: 0;
    padding: 0;
    font-size: 26px;
  }

  .content h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
  }

  #sect1{
    height: 34%;
  }

  .sponsor-section {
    top: 880px;
    z-index: -1;
  }

  footer {
    display: flex;
    flex-direction: column;
    top: 800px;
    height: 20%;
    margin: 100px auto;
    text-align: center;
    width: 100%
  }
  
  .social-media-content, .footer-info{
    display: none;
  }
  
  .footer-content {
    border-right:none;
    height: 20%;
    width: auto;
  }
  
  .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo img{
    width: 50%;
    height: 60px;
  }
  
  .footer-content .social-media {
    text-align: left;
    width: 100%;
  }
  
  .social-media{
    width: 30%;
  }

 }



 